
.home-page-container {
  width: 768px;
  margin: auto;
  padding-top: 5rem;

  h2:first-child {
    margin-bottom: 3rem;
  }
}

.post-title {
  margin-bottom: 0.5rem;
}

.post-partial {
  margin-bottom: 2rem;

  img {
    width: 64px;
    height: 64px;
    border-radius: 3px;
    margin-top: 0.4rem;
  }
}

.post-details {
  margin-bottom: 1rem;

  i { margin-right: 3px; }
}

.post-author {
  margin-right: 10px;
}