
.home-page-container {
  width: 768px;
  margin: auto;
  padding-top: 4rem;

  h2:first-child {
    margin-bottom: 3rem;
  }
}

.posts-container {
  margin-bottom: 4rem;
}


:host /deep/ .pagination {
  justify-content: center!important;
}
