<div class="home-page-container">
  <h2>Latest Posts</h2>

  <loading-indicator *ngIf="(posts.posts$ | async)?.isFetching">
  </loading-indicator>

  <div class="posts-container" *ngIf="!(posts.posts$ | async)?.get('isFetching')">
    <post-preview *ngFor="let post of posts.latestPosts$ | async"
                  [post]="post" [user]="(users.users$ | async)?.get(post.authorId)">
    </post-preview>
  </div>

  <div class="pagination-container"
       *ngIf="!(posts.posts$ | async)?.get('isFetching')">
    <ngb-pagination [page]="(posts.posts$ | async)?.get('currentPage') + 1"
                    [disabled]="(posts.posts$ | async)?.get('isFetching')'"
                    [pageSize]="(pagination.posts$ | async)?.get('pageSize')"
                    [collectionSize]="(pagination.posts$ | async)?.get('totalElements')"
                    [directionLinks]="true"
                    [ellipses]="true" [maxSize]="5"
                    (pageChange)="onPageChange($event)">
    </ngb-pagination>
  </div>
</div>
